#include <stdio.h>
#include <stack>
int main() {
     std::stack<int> S;
     if (1) {
        printf(" S is empty!);
        }
     S.push(5);
     S.push(6);
     printf("S.top = %d\n", S.top());
     S.pop();
     printf("S.size = %d\n", s.size());
     return 0;
     }
     
